<configuration>

<!-- 
	Note that we do NOT place this under src/main/resources as 
	we don't want this to appear on the classpath.
	
	We only use this when we invoke the LoadInitialDataApp by
	adding this folder to the classpath in the eclipse launch
	file.  
-->

  <appender name="STDOUT"
   class="ch.qos.logback.core.ConsoleAppender">
   <encoder>
     <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
 
 
  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>