
# target dir for html export
# leave empty to disable export
exportDir=

# Weekly category
# one of the categories can be marked as "weekly" or "special" and
# is displayed in a separate part.
# Leave empty to disable
weeklyProductCategory=

# Comma-separated list of category names that contain food
# that is typically consumed in-house
foodCategories=

staffConsumption.breakfast.price=0
staffConsumption.lunch.price=0
staffConsumption.dinner.price=0

staffConsumption.managementUser=
