
# target dir for html export
# leave empty to disable export
exportDir=

# Weekly category
# one of the categories can be marked as "weekly" or "special" and
# is displayed in a separate part.
# Leave empty to disable
weeklyProductCategory=

staffConsumption.breakfast.price=
staffConsumption.breakfast.Lunch=
staffConsumption.breakfast.Dinner=

staffConsumption.managementUser=
